<h1>Name: George Kozlov</h1>
<p>Description: This is a crowdsourced Vacation Database
   <br> If you want to add a new destination go to /create
    
     <br> Each Destination has the following properties:
     <br> CITY Name
     <br> Country
     <br> Distance from College Park, MD
     <br> Average number of visitors per year (a metric of how crowded the destination is)
     <br> Ameneties:
       <br>   Things that are worth visiting this location for 
        <br>  Ex: Beautiful Architecture
     </p>